<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Elephant Music | Unique Music to Picture</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="Elephant Music | Unique Music to Picture | Our passion is diverse, authentic music. Our expertise is in applying it to picture. We choose writers that create vibrant textures and emotions, transcending beyond music into powerful, dynamic audio visual format.">
		<meta name="title" content="Elephant Music | Unique Music to Picture">
	  	
		<!-- Google Knowledge Graph - social profiles -->
		<script type="application/ld+json">
		{ "@context" : "http://schema.org",
		  "@type" : "Organization",
		  "name" : "Elephant Music",
		  "url" : "http://www.elephantmusic.net/",
		  "sameAs" : [
		     "https://www.facebook.com/Elephantmusicglobal",
		     "https://twitter.com/thevikramgudi",
		     "https://www.youtube.com/channel/UCWymQU5pET6x6DSl2ZFQkNQ/about",
		     "https://www.youtube.com/channel/UCk3ATtNUbTmgPLyTvadTMnw",
		     "http://uk.linkedin.com/in/vikramgudi"]
		}
		</script>
		
		<!-- Google Knowledge Graph - site name breadcrumb in SERPs -->
		<script type="application/ld+json">
		    {  "@context" : "http://schema.org",
		       "@type" : "WebSite",
		       "name" : "Elephant Music",
		       "alternateName" : "ElephantMusic",
		       "url" : "http://www.elephantmusic.net/"
		    }
		</script>
		
		<!-- Google Knowledge Graph - company logo -->
		<script type="application/ld+json">
		   { "@context": "http://schema.org",
		      "@type": "Organization",
		      "url": "http://www.elephantmusic.net/",
		      "logo": ""
		    }
		</script>
		
		<%= analytics_init if Rails.env.production? %>
		
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true" %>
		<%= csrf_meta_tags %>
		<%= display_meta_tags %>
		
		<%= favicon_link_tag 'favicon.png' %>
		
		<link href='https://fonts.googleapis.com/css?family=Amatic+SC:400|Raleway:400,500,700|Open+Sans:300,700' rel='stylesheet' type='text/css'>
		
	</head>
	
	<body bgcolor="#000000">
		
		<div id="contentHome">
		
			<% if controller_name == "abouts" && controller.action_name == "index" || 
			      controller_name == "contacts" && controller.action_name == "index" || 
				  controller_name == "announcements" && controller.action_name == "index" || 
				  controller_name == "announcements" && controller.action_name == "show" || 
				  controller_name == "artists" && controller.action_name == "index" || 
				  controller_name == "artists" && controller.action_name == "show" || 
				  controller_name == "sounds" && controller.action_name == "index" || 
				  controller_name == "sounds" && controller.action_name == "show" ||
				  controller_name == "works" && controller.action_name == "index" || 
				  controller_name == "works" && controller.action_name == "show" %> 
		
				<div class="navigation"><%= render 'layouts/navigation' %></div>
				<div class="main"><%= render 'layouts/main' %></div>
			
			<% else %>
		
				<%= yield %>
			
			<% end %>
			
		</div>
		
	</body>
	
</html>